<H1>Hello Routing</H1>
<button (click)="goHome()" class = "bi bi-house-door">Home</button>&nbsp;
<button (click)="goservice()" class = "bi bi-house-gear-fill">Service</button>&nbsp;
<button (click)="goAbout()" class = "bi bi-file-earmark-person">About</button>&nbsp;
<button (click)="goContact()" class ="bi bi-telephone">Contact</button>&nbsp;
<button (click)="goTempolate()">Template</button>&nbsp;
<button (click)="goTemplate2()">Template2</button>&nbsp;
<button (click)="gotoReactiveForm()">Reactive Form</button>&nbsp;
<button (click)="gotoReactiveForm2()">Reactive Form2</button>&nbsp;
<router-outlet />
